PORT=6000

REDIS_ADDRESS=
REDIS_PASSWORD=

POSTGRES_PORT=
POSTGRES_HOST=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

AWS_REGION=
AWS_BUCKET=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_PRESIGN_EXPIRY_MINUTES=15
